<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <pre id="info"></pre>
  <div id="description"></div>


  <div id='books'>
    <h3>Books</h3>
    <div>
      <button id="showCreateButton" onclick="showCreate()">Create book</button>
    </div>
    <table class="table" id="bookTable">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Date Posted</th>
        <th>Update</th>
        <th>Delete</th>
        <th>Collect Tweets</th>
        <th>Progress</th>
        <th>View Tweets</th>
      </tr>
    </table>
  </div>

  <div id="tweets">
    <h3>Tweets</h3>
    <div id='progressDisplay'></div>
    <span><button id="back" onclick="showViewAll()">Back to books list</button></span>
    <table class="tweetsTable" id="tweetsTable">
      <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Date Posted</th>
        <th>Tweet Content</th>
        <th>Book ID</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <div id='createUpdateForm' style="display: none">
    <h2><span id="createLabel">Create a</span> <span id="updateLabel">update</span> Book</h2>
    <input type="hidden" name="id" /> <br />
    Title <input type="text" name="title" /> <br />
    Author <input type="text" name="author" /> <br />
    Date Posted <input type="text" name="dateposted" /> <br />
    <span><button id="doCreateButton" onclick="doCreate()">Create</button></span>
    <span><button id="doUpdateButton" onclick="doUpdate()">Update</button></span>
  </div>

  <script>
    function showCreate() {
      document.getElementById('showCreateButton').style.display = "none"
      document.getElementById('bookTable').style.display = "none"
      document.getElementById('createUpdateForm').style.display = "block"
      document.getElementById('createLabel').style.display = "inline"
      document.getElementById('updateLabel').style.display = "none"
      document.getElementById('doCreateButton').style.display = "block"
      document.getElementById('doUpdateButton').style.display = "none"
    }

    function clearForm() {
      var form = document.getElementById('createUpdateForm')
      form.querySelector('input[name="author"]').disabled = false
      form.querySelector('input[name="title"]').value = ''
      form.querySelector('input[name="dateposted"]').value = ''
    }

    function getBookFromRow(rowElement) {
      var book = {}
      book.id = rowElement.getAttribute('id')
      book.title = rowElement.cells[1].firstChild.textContent
      book.author = rowElement.cells[2].firstChild.textContent
      book.dateposted = rowElement.cells[3].firstChild.textContent
      return book
    }

    function populateFormWithBook(book) {
      var form = document.getElementById('createUpdateForm')
      form.querySelector('input[name="id"]').value = book.id
      form.querySelector('input[name="title"]').value = book.title
      form.querySelector('input[name="author"]').value = book.author
      form.querySelector('input[name="dateposted"]').value = book.dateposted
      return book
    }

    function getBookFromForm() {
      var form = document.getElementById('createUpdateForm')
      var book = {}
      book.id = form.querySelector('input[name="id"]').value
      book.title = form.querySelector('input[name="title"]').value
      book.author = form.querySelector('input[name="author"]').value
      book.dateposted = form.querySelector('input[name="dateposted"]').value
      console.log(JSON.stringify(book))
      return book
    }

    function showUpdate(buttonElement) {
      document.getElementById('showCreateButton').style.display = "none"
      document.getElementById('bookTable').style.display = "none"
      document.getElementById('createUpdateForm').style.display = "block"
      document.getElementById('createLabel').style.display = "none"
      document.getElementById('updateLabel').style.display = "none"
      document.getElementById('doCreateButton').style.display = "none"
      document.getElementById('doUpdateButton').style.display = "block"

      var rowElement = buttonElement.parentNode.parentNode
      var book = getBookFromRow(rowElement)
      populateFormWithBook(book)
    }

    function setBookInRow(rowElement, book) {
      rowElement.cells[0].firstChild.textContent = book.id
      rowElement.cells[1].firstChild.textContent = book.title
      rowElement.cells[2].firstChild.textContent = book.author
      rowElement.cells[3].firstChild.textContent = book.price
    }

    function doCreate() {
      var form = document.getElementById('createUpdateForm')
      var book = {}
      book.title = form.querySelector('input[name="title"]').value
      book.author = form.querySelector('input[name="author"]').value
      book.dateposted = form.querySelector('input[name="dateposted"]').value
      createBookAjax(book)
    }

    function doUpdate() {
      var book = getBookFromForm()
      var rowElement = document.getElementById(book.id)
      updateBookAjax(book)
      setBookInRow(rowElement, book)
      clearForm()
      showViewAll()
    }

    function doDelete(r) {
      var tableElement = document.getElementById('bookTable');
      var rowElement = r.parentNode.parentNode;
      var index = rowElement.rowIndex;
      deleteBookAjax(rowElement.getAttribute("id"));
      tableElement.deleteRow(index);
    }

    function doTweets(r) {
      var rowElement = r.parentNode.parentNode;
      getTweetsAjax(rowElement.getAttribute("id"))
      countTweetsAjax(rowElement.getAttribute("id"), r, 'doTweets')
    }

    function progressCellDo(r, tweetNumber) {    
      var rowElement = r.parentNode.parentNode;
      var index = rowElement.rowIndex;
      console.log('index', rowElement.getAttribute("id"))
      var cell8 = rowElement.insertCell(7);
      cell8.innerHTML = tweetNumber + ' tweets collected for book # ' + rowElement.getAttribute("id")
      rowElement.childNodes[8].style.display = "none"
    }

    function progressCellGet(r, tweetNumber) {
      console.log('progressCellGet ', progressCellGet)
      var rowElement = r.parentNode.parentNode;
      var div = document.getElementById('progressDisplay')
      div.innerHTML = '<h4>' + tweetNumber + ' tweets collected for book # ' + rowElement.getAttribute("id") + '</h4>'
      console.log('div.innerHTML ', div.innerHTML)
    }

    function getTweets(r) {
      document.getElementById('showCreateButton').style.display = "none"
      document.getElementById('bookTable').style.display = "none"
      document.getElementById('tweets').style.display = "block"
      document.getElementById('createUpdateForm').style.display = "none"
      document.getElementById('createLabel').style.display = "none"
      document.getElementById('updateLabel').style.display = "none"
      document.getElementById('doCreateButton').style.display = "none"
      document.getElementById('doUpdateButton').style.display = "none"
      document.getElementById('books').style.display = "none"
      document.getElementById('back').style.display = "block"

      var rowElement = r.parentNode.parentNode;
      var index = rowElement.rowIndex;
      var id = rowElement.getAttribute("id")
      console.log('index', rowElement.getAttribute("id"))
      getAllTweetsAjax(id)
      countTweetsAjax(rowElement.getAttribute("id"), r, 'getTweets')
      document.getElementById('progressDisplay').style.display = "block"
      document.getElementById('tweetsTable').style.display = "block"
    }

    function showViewAll() {
      document.getElementById('showCreateButton').style.display = "block"
      document.getElementById('bookTable').style.display = "block"
      document.getElementById('bookTable').style.display = "block"
      document.getElementById('tweetsTable').style.display = "none"
      document.getElementById('createUpdateForm').style.display = "none"
      document.getElementById('back').style.display = "none"
      document.getElementById('progressDisplay').style.display = "none"
      document.getElementById('tweets').style.display = "none"
      document.getElementById('books').style.display = "block"
      removeTweetsFromTable()
    }

    function addBookToTable(book) {
      var tableElement = document.getElementById('bookTable')
      var rowElement = tableElement.insertRow(-1)
      rowElement.setAttribute('ID', book.id)
      var cell1 = rowElement.insertCell(0);
      cell1.innerHTML = book.id
      var cell2 = rowElement.insertCell(1);
      cell2.innerHTML = book.title
      var cell3 = rowElement.insertCell(2);
      cell3.innerHTML = book.author
      var cell4 = rowElement.insertCell(3);
      cell4.innerHTML = book.dateposted
      var cell5 = rowElement.insertCell(4);
      cell5.innerHTML = '<button onclick="showUpdate(this)">Update</button>'
      var cell6 = rowElement.insertCell(5);
      cell6.innerHTML = '<button onclick=doDelete(this)>Delete</button>'
      var cell7 = rowElement.insertCell(6);
      cell7.innerHTML = '<button onclick=doTweets(this)>Find tweets</button>'
      var cell8 = rowElement.insertCell(7);
      cell8.innerHTML = ''
      var cell9 = rowElement.insertCell(8);
      cell9.innerHTML = '<button onclick=getTweets(this)>View tweets</button>'
    }

    function removeTweetsFromTable() {
      console.log('$("#tweetsTable tbody tr") ', $("#tweetsTable tbody tr"))
      $("#tweetsTable tbody tr").remove();
    }

    function addTweetsToTable(tweet, id) {
      console.log('addTweetsToTable ', tweet)
      console.log('addTweetsToTable id ', id)
      var tableElement = document.getElementById('tweetsTable').getElementsByTagName('tbody')[0];
      console.log('tableElement ', tableElement)
      var rowElement = tableElement.insertRow()
      rowElement.setAttribute('ID', tweet.id)

      var tweetID = 'tweet_' + tweet.bookid
      rowElement.setAttribute("class", tweetID);
      var cell1 = rowElement.insertCell(0);
      cell1.innerHTML = tweet.id
      var cell2 = rowElement.insertCell(1);
      cell2.innerHTML = tweet.title
      var cell3 = rowElement.insertCell(2);
      cell3.innerHTML = tweet.author
      var cell4 = rowElement.insertCell(3);
      cell4.innerHTML = tweet.bookid
      var cell5 = rowElement.insertCell(3);
      cell5.innerHTML = tweet.dateposted
      var cell6 = rowElement.insertCell(4);
      cell6.innerHTML = tweet.tweetcontent
    }
  </script>
  <script src="/static/jquery-3.4.1.js"></script>
  <script>
    /* Set host variable */
    host = window.location.origin
    console.log('my host ', host)

    function createBookAjax(book) {
      console.log('createBookAjax', JSON.stringify(book));
      $.ajax({
        url: host + "/api/books",
        method: "POST",
        data: JSON.stringify(book),
        dataType: "JSON",
        contentType: "application/json; charset=utf-8",
        success: function (result) {
          console.log('create book id ', result);
          console.log(typeof book);
          book.id = result
          console.log('success book', JSON.stringify(book));
          addBookToTable(book)
          clearForm()
          showViewAll()
        },
        error: function (xhr, status, error) {
          console.log("createBookAjax - error: " + status + " msg:" + error);
        }
      });
    }

    function getBooksAjax() {
      console.log('getBooksAjax');
      $.ajax({
        url: host + '/api/books',
        method: "GET",
        success: function (data) {
          for (key in data) {
            addBookToTable(data[key]);
            showViewAll()
          }
        },
        error: function (xhr, status, error) {
          console.log("getBooksAjax - error: " + status + " msg:" + error);
        }
      });
    }

    function updateBookAjax(book) {
      console.log('updateBookAjax ', JSON.stringify(book));
      $.ajax({
        url: host + "/api/books/" + encodeURI(book.id),
        method: "PUT",
        data: JSON.stringify(book),
        dataType: "JSON",
        contentType: "application/json; charset=utf-8",
        success: function (result) {
          getBooksAjax()
        },
        error: function (xhr, status, error) {
          console.log("updateBookAjax - error: " + status + " msg:" + error);
        }
      });
    }

    function deleteBookAjax(id) {
      console.log(JSON.stringify('deleteBookAjax ' + id));
      $.ajax({
        url: host + "/api/books/" + encodeURI(id),
        method: "DELETE",
        data: "",
        dataType: "JSON",
        contentType: "application/json; charset=utf-8",
        success: function (result) {
          console.log(result);

        },
        error: function (xhr, status, error) {
          console.log("deleteBookAjax - error: " + status + " msg:" + error);
        }
      });
    }

    function getTweetsAjax(id) {
      console.log('getTweetsAjax ', id);
      $.ajax({
        url: host + "/api/tweets/" + encodeURI(id),
        method: "GET",
        data: "",
        dataType: "JSON",
        contentType: "application/json; charset=utf-8",
        success: function (result) {
          console.log('ajax tweets', result);
          // progressCell(tweetNumber)
        },
        error: function (xhr, status, error) {
          console.log("getTweetsAjax - error: " + status + " msg:" + error);
        }
      });
    }

    function countTweetsAjax(id, thisRow, tweetsFn) {
      console.log('countTweetsAjax ', id);
      $.ajax({
        url: host + "/api/count_tweets/" + encodeURI(id),
        method: "GET",
        data: "",
        dataType: "JSON",
        contentType: "application/json; charset=utf-8",
        success: function (result) {
          console.log('count ajax tweets', result);
          if (tweetsFn == 'doTweets') {
            progressCellDo(thisRow, result)
          } else {
            progressCellGet(thisRow, result)
          }
        },
        error: function (xhr, status, error) {
          console.log("countTweetsAjax - error: " + status + " msg:" + error);
        }
      });
    }

    function getAllTweetsAjax(id) {
      console.log('getAllTweetsAjax ', id)
      $.ajax({
        url: host + '/api/view_tweets/' + encodeURI(id),
        method: "GET",
        success: function (data) {
          console.log(data)
          for (key in data) {
            addTweetsToTable(data[key], id);
            console.log(data[key])
          }
        },
        error: function (xhr, status, error) {
          console.log("getAllTweetsAjax - error: " + status + " msg:" + error);
        }
      });
    }

    // function getAllTweetsAjax2(id) {
    //     console.log('getAllTweetsAjax ')
    //     $.ajax({
    //       url: host+'/api/view_tweets/',
    //       method: "GET",
    //       success: function (data) {
    //         console.log(data)
    //         for (key in data) {
    //           addTweetsToTable(data[key], id);
    //         }
    //       },
    //       "error": function (xhr, status, error) {
    //         console.log("getAllTweetsAjax 2 - error: " + status + " msg:" + error);
    //       }
    //     });
    //   }

    // setInterval(function(){
    //   console.log('interval ')
    //   getAllTweetsAjax2() 
    // }, 7000)


    $(function () {
      getBooksAjax()
    })
  </script>
</body>
</html>